<div fxLayout="column" fxLayoutGap="16px">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ persona.name }}</mat-card-title>
      <mat-card-subtitle
        >{{ persona.arcanaName }} / Level
        {{ persona.level }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <mat-chip-list>
        <mat-chip *ngIf="persona.special" color="warn" selected
          >Special fusion</mat-chip
        >
        <mat-chip *ngIf="persona.specialCondition" color="accent" selected>{{
          persona.specialCondition
        }}</mat-chip>
        <mat-chip *ngIf="persona.ultimate" color="accent" selected
          >Ultimate Persona</mat-chip
        >
        <mat-chip *ngIf="persona.keyItem">Key item</mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>

  <mat-expansion-panel [expanded]="expanded()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Base Stats
      </mat-panel-title>
      <mat-panel-description>
        <small> 
          <span *ngFor="let stat of stats()" style="padding-right: 8px"> {{stat | uppercase}}: {{persona.stats[stat]}} </span>
        </small>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <table>
        <tr *ngFor="let stat of stats()">
          <td style="width: 24px; padding-right: 8px"><small class="mat-body-1">{{stat | uppercase}}</small></td>
          <td style="width: 100%"><mat-progress-bar mode="determinate" value="{{persona.stats[stat] / .99}}">
            </mat-progress-bar>
          </td>
          <td style="width: 24px; padding-left: 8px; text-align: right;"><small class="mat-body-1">{{persona.stats[stat]}}</small></td>
        </tr>
      </table>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="expanded()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Affinities
      </mat-panel-title>
      <mat-panel-description>
        <small>
          <span *ngFor="let element of affinities()">
            {{persona.affinities[element]}}
          </span>
        </small>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <table style="width: 100%">
        <tr *ngFor="let element of affinities()">
          <td style="width: 50%">{{element | titlecase}}</td>
          <td style="width: 50%">{{ { s: 'Strong', w: 'Weak', 'd': 'Absorb', r: 'Repel', n: 'Block', '-': '--' }[persona.affinities[element]]}}</td>
        </tr>
      </table>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="expanded()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Skills
      </mat-panel-title>
      <mat-panel-description style="">
        <small style="text-overflow: ellipsis;">
          {{skills()}}
        </small>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <table style="width: 100%; margin-bottom :8px;">
        <tr>
          <td style="width: 50%">Inherits</td>
          <td style="width: 50%">{{persona.inherits | titlecase}}</td>
        </tr>
      </table>
      <table style="width: 100%">
        <tr *ngFor="let skill of persona.skills">
          <td style="width: 50%">{{skill.name}}</td>
          <td style="width: 50%">{{skill.level === 0 ? 'Innate' : 'Lv. ' + skill.level}}</td>
        </tr>
      </table>
    </ng-template>
  </mat-expansion-panel>
</div>