::ng-deep .simulator-list-overlay-pane {
  width: 100% !important;
  max-width: unset !important;
  padding: 16px 32px;
  overflow: auto;
}

::ng-deep .simulator-list-overlay-pane mat-dialog-container {
  width: 720px;
  max-width: 90vw;
  margin: auto;
}

::ng-deep .simulator-list-overlay-pane mat-dialog-content {
  max-height: unset;
}
