<h1 mat-dialog-title>
  <ng-container *ngIf="selectedItem; else noSelection">
    Selected: {{selectedItem.persona.name}}
    <span *ngIf="selectedItem.saveName">({{selectedItem.saveName}})</span>
  </ng-container>
  <ng-template #noSelection>Select a Persona</ng-template>
</h1>
<mat-dialog-content>
  <mat-tab-group>
    <mat-tab>
      <ng-template matTabLabel>
        PERSONAE
      </ng-template>
      <ng-template matTabContent>
        <shared-dialog-persona-list
          (dblClickSelection)="submitSelection($event)"
          (changeSelected)="selectionChange($event)">
        </shared-dialog-persona-list>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template matTabLabel>
        SAVED
      </ng-template>
      <ng-template matTabContent>
        <shared-dialog-saved-list
          (changeSelected)="selectionChange($event)"
          (dblClickSelection)="submitSelection($event)">        
        </shared-dialog-saved-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end;">
  <button mat-button (click)="onCancel()">CANCEL</button>
  <button mat-raised-button *ngIf="selectedItem" [mat-dialog-close]="selectedItem" color="primary" cdkFocusInitial>DONE</button>
  <button mat-button *ngIf="!selectedItem" [mat-dialog-close]="selectedItem" color="primary" disabled>DONE</button>
</mat-dialog-actions>