<div *ngIf="fusions?.length; else emptyList">
  <mat-chip-list>
    <mat-chip *ngFor="let persona of fusionPersonae" routerLink="../../{{ persona.name | lowercase }}">
      {{ persona.name}}
    </mat-chip>
  </mat-chip-list>
<mat-list>
  <div mat-subheader>Fusions</div>
  <mat-list-item *ngFor="let fusion of fusions">
    <mat-icon mat-list-icon>style</mat-icon>
    <div mat-line>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip *ngFor="let persona of fusion" routerLink="../../{{ persona.name | lowercase }}">
          {{persona.name}}
        </mat-chip>
      </mat-chip-list>

    </div>
  </mat-list-item>
</mat-list>
</div>
<ng-template #emptyList>
  No results.
</ng-template>
