<mat-expansion-panel expanded>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Fusion skills ({{fusionYield.persona.inherits | titlecase}})
    </mat-panel-title>
    <mat-panel-description>
      <small>Innate: {{fusionYield.skills.length}} / Learns: {{skillsToLearn().length}} / Inherits: {{fusionYield.skillsInheritedCount}}</small>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-chip-list>
    <mat-chip color="primary" *ngFor="let skill of fusionYield.skills" selected>
      {{skill.name}}
    </mat-chip>      
    <mat-chip [color]="skill.probRatio > 0 ? 'accent' : 'basic'" *ngFor="let skill of fusionYield.inheritableSkills" selected>
      {{skill.name}}
      <small style="margin-left: 8px" *ngIf="randomInheritance()">
        <ng-container *ngIf="showProbabilities && skill.probability !== undefined; else skillWithPrR">
          <span *ngIf="approximateProbabilities() && skill.probability > 0">~</span>{{skill.probability * 100 | number: '1.2-2'}}%
        </ng-container>
      </small>
      <ng-template #skillWithPrR>
        {{skill.probRatio | number: '1.2-2'}}
      </ng-template>
    </mat-chip>
    <mat-chip color="primary" *ngFor="let skill of skillsToLearn()" selected>
      {{skill.name}} <small style="margin-left: 8px">Lv. {{skill.level}}</small>
    </mat-chip>
  </mat-chip-list>
  
  <div style="margin: 16px 0">
    <small class="mat-caption skill-legend" style="margin-right: 16px">
      <div class="mat-elevation-z1 skill-legend-circle" style="background: #3f51b5;"></div>
      Innate / Learned
    </small>
    <small class="mat-caption skill-legend" style="margin-right: 16px">
      <div class="mat-elevation-z1 skill-legend-circle" style="background: #ff4081;"></div>
      Inheritable
    </small>
    <small class="mat-caption skill-legend">
      <div class="mat-elevation-z1 skill-legend-circle" style="background: #e0e0e0;"></div> Non-inheritable
    </small>
  </div>
</mat-expansion-panel>