.skills-to-learn {
  overflow: auto;
  padding: 0 16px;
}

:host::ng-deep .skills-to-learn .mat-chip-list-wrapper {
  margin: 0;
  flex-wrap: nowrap;
}

:host::ng-deep .skills-to-learn .mat-chip {
  white-space: nowrap;
  cursor: pointer;
}

:host::ng-deep .skills-to-learn .mat-chip .level-learned {
  margin-left: 8px;
}
