<div style="background: #fff; z-index: 10; position: sticky; top: 0">
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Filter</mat-label>
    <input matInput type="text" #filterField (keydown.enter)="$event.target.blur();false" 
            inputDebouncer
            (debouncedInput)="applyFilter($event)" autocomplete="off">
    <button *ngIf="filterField.value"
            matSuffix mat-icon-button
            (click)="filterField.value = ''; clearFilter()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<mat-selection-list *ngIf="list?.length"
                    multiple="false"
                    #selectionList
                    (selectionChange)="selectionChange($event.option.value)" dense>
  <cdk-virtual-scroll-viewport class="virtual-scroll" itemSize="60">
    <mat-list-option *cdkVirtualFor="let filtered of list" [value]="filtered.persona" (dblclick)="dblClickSubmit(filtered.persona)">
      <span mat-line>{{filtered.persona.name}} / Lv. {{filtered.persona.level}}</span>
      <span mat-line *ngIf="filtered.matchedSkills.length > 0; else arcana">
        {{matchedSkills(filtered.matchedSkills)}}
      </span>
      <ng-template #arcana>
        <span mat-line >Arcana: {{filtered.persona.arcanaName}}</span>
      </ng-template>
    </mat-list-option>
  </cdk-virtual-scroll-viewport>
</mat-selection-list>
<p *ngIf="!list?.length" class="mat-body-1">
  No results.
</p>