<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ fusionItem.persona.name }}
    </mat-panel-title>
    <mat-panel-description>
       <small class="mat-caption">{{ fusionItem.persona.arcanaName }} / Level {{ fusionItem.currentLevel }}</small>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div>
    <mat-form-field appearance="fill" style="width: 60px;">
      <mat-label>Level</mat-label>
      <input type="number" autocomplete="off" matInput
      [ngModel]="fusionItem.currentLevel"
      (change)="changeLevel($event)"
      (keydown.enter)="$event.target.blur();false"
      [value]="fusionItem.currentLevel"
      [min]="fusionItem.persona.level"
      max="99"
      required>
    </mat-form-field>
    <mat-chip-list>
      <mat-chip *ngFor="let skill of fusionItem.skills; let si = index" [color]="(si < 8) ? 'primary' : 'basic'" selected>
        {{skill.name}}
      </mat-chip>
      <button mat-icon-button color="primary" (click)="editSkills()"><mat-icon>add_circle_outline</mat-icon></button>
    </mat-chip-list>
    <div style="margin-top: 16px; width: 100%; display: flex; flex-direction: row; justify-content: flex-end;">
      <button mat-icon-button color="accent" (click)="onDelete()"><mat-icon>delete</mat-icon></button>
      <button mat-icon-button color="accent"><mat-icon>edit</mat-icon></button>
    </div>
  </div>
</mat-expansion-panel>
