.fusion-tree-invisible {
  display: none;
}

.fusion-tree ul,
.fusion-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.fusion-tree ul {
  padding-left: 16px;
}

.fusion-tree li {
  white-space: nowrap;
  border-left: 1px solid rgba(0,0,0,.26);
}

:host ::ng-deep .fusion-tree-ex-panel .mat-expansion-panel-body {
  overflow: auto;
}
