<div style="padding: 24px 4px 16px">
  <mat-accordion *ngIf="fusions">
    <mat-expansion-panel *ngFor="let fusion of fusions">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{fusion.gem.name}}
        </mat-panel-title>
        <mat-panel-description>
          <small class="mat-caption">
            {{fusion.gem.arcanaName}} / Lv. {{fusion.gem.level}}
          </small>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list dense>
        <mat-list-item *ngFor="let persona of fusion.personae">
          <div mat-line>
            <a routerLink="../{{persona.persona.name | lowercase}}" class="mat-body-2" style="color: #3f51b5; text-decoration: none;">
              {{persona.persona.name}}
            </a>
          </div>  
          <small mat-line class="mat-caption">Base lv. {{persona.persona.level}}</small>
          <small mat-line class="mat-caption">Lv. {{persona.levelRange.join('-')}}</small>
          <a routerLink="../../simulator"
             [queryParams]="queryParams(fusion.gem, persona.persona, persona.levelRange[0])"
             mat-button color="primary">
            FUSE
          </a>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
