<h1 mat-dialog-title>
  <ng-container *ngIf="selectedPersona; else noSelection">Selected: {{selectedPersona.name}}</ng-container>
  <ng-template #noSelection>Select a Persona</ng-template>
</h1>
<mat-dialog-content style="min-height: 360px; max-height: 400px">
  <div style="background: #fff; z-index: 10; position: sticky; top: 0">
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Filter</mat-label>
      <input matInput type="text" #filterField (keydown.enter)="$event.target.blur();false" autocomplete="off">
      <button *ngIf="filterField.value"
              matSuffix mat-icon-button 
              (click)="clearFilter()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <mat-selection-list *ngIf="list.length" multiple="false" #selectionList (selectionChange)="selectionChange($event.option.value)">
    <mat-list-option *ngFor="let persona of list" [value]="persona" (dblclick)="dblClickSubmit(persona)">
      <span mat-line>{{persona.name}}</span>
      <span mat-line>{{persona.arcanaName}} / {{persona.level}}</span>
    </mat-list-option>
  </mat-selection-list>
  <p *ngIf="!list.length" class="mat-body-1">
    No results.
  </p>

</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end;">
  <button mat-button (click)="onCancel()">CANCEL</button>
  <button mat-raised-button *ngIf="selectedPersona" [mat-dialog-close]="selectedPersona" color="primary" cdkFocusInitial>DONE</button>
  <button mat-button *ngIf="!selectedPersona" [mat-dialog-close]="selectedPersona" color="primary" disabled>DONE</button>
</mat-dialog-actions>