::ng-deep .simulator-list-overlay-pane {
  width: 100% !important;
  max-width: unset !important;
  padding: 48px;
  overflow: auto;
}

::ng-deep .simulator-list-overlay-pane mat-dialog-container {
  width: 400px;
  max-width: 80vw;
  margin: auto;
}

::ng-deep .simulator-list-overlay-pane mat-tab-body {
  height: 50vh;
  max-height: 500px;
  min-height: 200px;
}

::ng-deep .simulator-list-overlay-pane mat-dialog-content {
  max-height: unset;
}