<div *ngIf="fusions?.length || nameFilters?.length; else emptyList">
  <div style="margin: 24px 4px;">
    <mat-form-field appearance="fill" style="display: flex; flex-direction: column;">
      <mat-label>Filter</mat-label>
      <mat-chip-list #tagList aria-label="Filter">
        <mat-chip *ngFor="let tag of nameFilters; let i = index" (removed)="removeFilter(i)">
          {{tag}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Filter Persona or skill"
                autocomplete="off" 
               [matChipInputFor]="tagList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               matChipInputAddOnBlur="true"
               (matChipInputTokenEnd)="addFilter($event)">
      </mat-chip-list>
    </mat-form-field>
  </div>

</div>
<ng-template #emptyList>
  <div style="padding: 16px;">
    <h3 class="mat-h3">No results.</h3>
  </div>
</ng-template>

<mat-nav-list>
  <cdk-virtual-scroll-viewport class="normal-fusion-virtual-scroll" itemSize="48">
    <mat-list-item *cdkVirtualFor="let fusion of fusions; let odd = odd;" [class.alternate]="odd" (click)="openBottomSheet(fusion)">
       <div fxLayout="row" fxLayoutAlign="space-between" style="width: 100%">
        <div>
          <h3 class="mat-h3 persona-name-header" [ngStyle.gt-xs]="{ fontSize: '14px' }">{{ fusion[0].name }}</h3>
          <p  class="mat-caption persona-detail" [ngStyle.gt-xs]="{ fontSize: '12px' }">{{ fusion[0].arcanaName }} / {{ fusion[0].level }}</p>
        </div>
        <div>
          <h3 class="mat-h3 persona-name-header" [ngStyle.gt-xs]="{ fontSize: '14px' }" style="text-align: right">{{ fusion[1].name }}</h3>
          <p  class="mat-caption persona-detail" [ngStyle.gt-xs]="{ fontSize: '12px' }" style="text-align: right">{{ fusion[1].level }} / {{ fusion[1].arcanaName }}</p>
        </div>
      </div>
    </mat-list-item>
  </cdk-virtual-scroll-viewport>
</mat-nav-list>
