<mat-form-field style="width: 100%; padding: 8px; box-sizing: border-box;">
  <mat-label>Filter</mat-label>
  <input matInput #filterField inputDebouncer (debouncedInput)="applyFilter($event)" (keydown.enter)="$event.target.blur();false">
  <button mat-button *ngIf="filterField.value" matSuffix mat-icon-button (click)="filterField.value = ''; clearFilter()">
    <mat-icon color="warn">clear</mat-icon>
  </button>
   <mat-icon color="accent" *ngIf="!filterField.value" matSuffix>filter_alt</mat-icon>
</mat-form-field>

<div style="overflow: auto; width: 100%">
  <table mat-table [dataSource]="savedPersonae" class="mat-elevation-z8" style="width: 100%;"
  matSort >
    <ng-container matColumnDef="saveName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Save Name </th>
      <td mat-cell *matCellDef="let savedPersona">
        <a mat-button color="primary" routerLink="../edit/{{ savedPersona.saveName }}">
          {{savedPersona.saveName}}
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="persona">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Persona </th>
      <td mat-cell *matCellDef="let savedPersona">
        {{savedPersona.persona.name}} 
      </td>
    </ng-container>
    <ng-container matColumnDef="currentLevel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Level </th>
      <td mat-cell *matCellDef="let savedPersona"> {{savedPersona.currentLevel}} </td>
    </ng-container>
    <ng-container matColumnDef="arcanaName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Arcana </th>
      <td mat-cell *matCellDef="let savedPersona"> {{savedPersona.persona.arcanaName}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator pageSize="30" [pageSizeOptions]="[20, 30, 50, 100, 200, 300]" showFirstLastButtons></mat-paginator>
</div>
