<div>
  <mat-card class="mat-elevation-z2" style="margin-bottom: 16px;">
    <mat-card-header *ngIf="fusionYield; else invalidCombo">
      <mat-card-title>{{ fusionYield.persona.name }}</mat-card-title>
      <mat-card-subtitle
        >{{ fusionYield.persona.arcanaName }} / Level
        {{ fusionYield.persona.level }}</mat-card-subtitle
      >
    </mat-card-header>
    <ng-template #invalidCombo>
      <mat-card-header>
        <mat-card-title>{{ fusionItems.length < 2 ? 'Add items' : 'Invalid combo' }}</mat-card-title>
        <mat-card-subtitle>
          {{ fusionItems.length < 2 ? 'At least two items are needed to proceed.' : 'Cannot fuse current items.'}}
        </mat-card-subtitle>
      </mat-card-header>
    </ng-template>
    
    <mat-card-content>
      <mat-chip-list *ngIf="fusionYield">
        <mat-chip *ngIf="fusionYield.persona.special" color="warn" selected
          >Special fusion</mat-chip
        >
        <mat-chip *ngIf="fusionYield.persona.specialCondition" color="accent" selected>{{
          fusionYield.persona.specialCondition
        }}</mat-chip>
        <mat-chip *ngIf="fusionYield.persona.ultimate" color="accent" selected
          >Ultimate Persona</mat-chip
        >
        <mat-chip *ngIf="fusionYield.persona.keyItem">Key item</mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>

  <mat-expansion-panel style="margin-bottom: 16px" *ngIf="fusionYield" expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Skills
      </mat-panel-title>
      <mat-panel-description>
        Innate: {{fusionYield.skills.length}} / Inherits: {{fusionYield.skillsInheritedCount}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-chip-list>
      <mat-chip color="primary" *ngFor="let skill of fusionYield.skills" selected>
        {{skill.name}}
      </mat-chip>
      <mat-chip color="accent" *ngFor="let skill of fusionYield.inheritableSkills" selected>
        {{skill.name}} <small>[{{skill.probRatio}}]</small>
      </mat-chip>
    </mat-chip-list>
    
  </mat-expansion-panel>

  <mat-divider></mat-divider>

  <div style="margin-top: 16px">
    <mat-accordion multi>
      <mat-expansion-panel *ngFor="let fusionItem of fusionItems; let i = index;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ fusionItem.persona.name }}
          </mat-panel-title>
          <mat-panel-description>
             <small class="mat-caption">{{ fusionItem.persona.arcanaName }} / Level {{ fusionItem.currentLevel }}</small>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div>
          <mat-form-field appearance="fill" style="width: 60px;">
            <mat-label>Level</mat-label>
            <input type="number" autocomplete="off" matInput
            [ngModel]="fusionItem.currentLevel"
            (change)="changeLevel($event, fusionItem)"
            (keydown.enter)="$event.target.blur();false"
            [value]="fusionItem.currentLevel"
            [min]="fusionItem.persona.level"
            max="99"
            required>
          </mat-form-field>
          <mat-chip-list>
            <mat-chip *ngFor="let skill of fusionItem.skills; let si = index" [color]="(si < 8) ? 'primary' : 'basic'" selected>
              {{skill.name}}
            </mat-chip>
            <button mat-icon-button color="primary" (click)="editSkills(fusionItem)"><mat-icon>add_circle_outline</mat-icon></button>
          </mat-chip-list>
          <div style="margin-top: 16px; width: 100%; display: flex; flex-direction: row; justify-content: flex-end;">
            <button mat-icon-button color="accent" (click)="removeItem(i)"><mat-icon>delete</mat-icon></button>
            <button mat-icon-button color="accent" (click)="changePersona(fusionItem)"><mat-icon>edit</mat-icon></button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <button mat-flat-button color="primary" style="margin-top: 16px; width: 100%" (click)="addItem()">
      <mat-icon>add</mat-icon> ADD
    </button>

    <button mat-stroked-button color="warn" style="margin-top: 16px; width: 100%" (click)="clearItems()">
      <mat-icon>clear_all</mat-icon> CLEAR
    </button>
  </div>
</div>
