<div gdColumns gdColumns.gt-sm="320px auto" gdGap="16px">
  <shared-persona-info *ngIf="fusionYield; else noFusion" [persona]="fusionYield.persona"></shared-persona-info>
  <ng-template #noFusion>
    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Fusion Simulator</mat-card-title>
          <mat-card-subtitle>{{ fusionItems.length > 1 ? 'Cannot fuse current items.' : 'Add personae to proceed.'}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </ng-template>
  <div fxLayout="column" fxLayoutGap="24px">
    <mat-expansion-panel *ngIf="fusionYield" expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Fusion skills
        </mat-panel-title>
        <mat-panel-description>
          <small>Type: {{fusionYield.persona.inherits | titlecase}} / Innate: {{fusionYield.skills.length}} / Inherits: {{fusionYield.skillsInheritedCount}}</small>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-chip-list>
        <mat-chip color="primary" *ngFor="let skill of fusionYield.skills" selected>
          {{skill.name}}
        </mat-chip>      
        <mat-chip [color]="skill.probRatio > 0 ? 'accent' : 'basic'" *ngFor="let skill of fusionYield.inheritableSkills" selected>
          {{skill.name}} <small style="margin-left: 8px">{{skill.probability * 100 | number: '1.2-2'}}%</small>
        </mat-chip>
        <mat-chip color="primary" *ngFor="let skill of skillsToLearn()" selected>
          {{skill.name}} <small style="margin-left: 8px">Lv. {{skill.level}}</small>
        </mat-chip>
      </mat-chip-list>
      
    </mat-expansion-panel>

    <div fxLayout="column" fxLayoutGap="16px">
      <mat-accordion *ngIf="fusionItems.length" multi>
        <simulator-fusion-item 
          *ngFor="let fusionItem of fusionItems; let i = index;"
          (delete)="removeItem(i)"
          (change)="fuse()"
          [fusionItem]="fusionItem"></simulator-fusion-item>
      </mat-accordion>
      <div fxLayout="column" fxLayoutGap="8px">
        <button mat-flat-button color="primary" style="width: 100%" (click)="addItem()">
          <mat-icon>add</mat-icon> ADD PERSONA
        </button>

        <button *ngIf="fusionItems.length" mat-stroked-button color="warn" style="width: 100%" (click)="clearItems()">
          <mat-icon>clear_all</mat-icon> CLEAR
        </button>
      </div>
    </div>
  </div>
</div>
