<div gdColumns="minmax(0, 1fr)" gdColumns.gt-sm="320px minmax(0, 1fr)" gdGap="16px">
  <shared-persona-info *ngIf="fusionYield; else noFusion" [persona]="fusionYield.persona"></shared-persona-info>
  <ng-template #noFusion>
    <div>
      <mat-card style="height: 100%; box-sizing: border-box;">
        <mat-card-header>
          <mat-card-title>Fusion Simulator</mat-card-title>
          <mat-card-subtitle>{{ fusionItems.length > 1 ? 'Cannot fuse current items.' : 'Add personae to proceed.'}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </ng-template>
  <div fxLayout="column" fxLayoutGap="16px">
    <mat-expansion-panel *ngIf="fusionYield" expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Fusion skills
        </mat-panel-title>
        <mat-panel-description>
          <small>Innate: {{fusionYield.skills.length}} / Inherits: {{fusionYield.skillsInheritedCount}} / Learns: {{skillsToLearn().length}}</small>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-chip-list>
        <mat-chip color="primary" *ngFor="let skill of fusionYield.skills" selected>
          {{skill.name}}
        </mat-chip>      
        <mat-chip [color]="skill.probRatio > 0 ? 'accent' : 'basic'" *ngFor="let skill of fusionYield.inheritableSkills" selected>
          {{skill.name}}
          <small style="margin-left: 8px" *ngIf="randomInheritance()">
            <ng-container *ngIf="showProbabilities(); else skillWithPrR">
              {{skill.probability * 100 | number: '1.2-2'}}%
            </ng-container>
          </small>
        </mat-chip>
        <mat-chip color="primary" *ngFor="let skill of skillsToLearn()" selected>
          {{skill.name}} <small style="margin-left: 8px">Lv. {{skill.level}}</small>
        </mat-chip>
      </mat-chip-list>
      
      <div style="margin: 16px 0">
        <small class="mat-caption" style="margin-right: 16px">
          <div class="mat-elevation-z1 skill-legend" style="background: #3f51b5;"></div>
          Innate / Learned
        </small>
        <small class="mat-caption" style="margin-right: 16px">
          <div class="mat-elevation-z1 skill-legend" style="background: #ff4081;"></div>
          Inheritable
        </small>
        <small class="mat-caption">
          <div class="mat-elevation-z1 skill-legend" style="background: #e0e0e0;"></div> Non-inheritable
        </small>
      </div>
    </mat-expansion-panel>

    <div class="mat-elevation-z2" style="border-radius: 4px; padding: 8px; background: #fff" fxLayout="row" fxLayoutAlign="end">
      <button mat-button color="accent" [disabled]="!fusionYield" (click)="saveFusion()">SAVE</button>
      <button mat-button color="accent">LOAD</button>
    </div>

    <div fxLayout="column" fxLayoutGap="16px">
      <mat-accordion multi>
        <mat-expansion-panel *ngFor="let fusionItem of fusionItems; let i = index;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ fusionItem.persona.name }}
            </mat-panel-title>
            <mat-panel-description>
               <small class="mat-caption">{{ fusionItem.persona.arcanaName }} / Level {{ fusionItem.currentLevel }}</small>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <shared-fusion-item 
              (change)="fuse()"
              [fusionItem]="fusionItem"></shared-fusion-item>
            <div style="margin-top: 16px; width: 100%; display: flex; flex-direction: row; justify-content: flex-end;">
              <button mat-icon-button color="accent" (click)="removeItem(i)"><mat-icon>delete</mat-icon></button>
            </div>
          </ng-template>
        </mat-expansion-panel>
        <div *ngFor="let n of fusionItemPlaceholders()"
             class="mat-body-2"
             style="box-sizing: border-box;
                    border-radius: 4px;
                    height: 48px;
                    width: 100%;
                    margin-top: 8px;
                    border: 2px dashed rgba(0,0,0,.12);
                    color: rgba(0,0,0,.37);
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    padding: 0 24px;
                    user-select: none;">
                    PERSONA
        </div>
      </mat-accordion>

      <div fxLayout="column" fxLayoutGap="8px">
        <button mat-flat-button color="primary" style="width: 100%" (click)="addItem()">
          <mat-icon>add</mat-icon> ADD PERSONA
        </button>

        <button mat-stroked-button color="warn" style="width: 100%" (click)="clearItems()" [disabled]="!fusionItems.length">
          <mat-icon>clear_all</mat-icon> CLEAR
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #skillWithPrR>
  {{skill.probRatio | number: '1.2-2'}}
</ng-template>
