<h1 mat-dialog-title>
  <div>{{fusionItem.persona.name}}</div>
  <small>{{fusionItem.persona.arcanaName}} / Lv. {{fusionItem.currentLevel}}</small>
</h1>
<mat-dialog-content>
  <mat-chip-list>
    <mat-chip *ngFor="let skill of fusionItem.skills.slice(0, 8)" color="primary" selected>
      {{skill.name}}
    </mat-chip>
  </mat-chip-list>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="flex-end">
  <button mat-flat-button mat-dialog-close color="accent">CLOSE</button>
</mat-dialog-actions>