<div *ngIf="persona; else noPersona"
     gdColumns="minmax(0, 1fr)"
     gdColumns.gt-sm="320px minmax(0, 1fr)"
     gdRows="max-content auto"
     gdRows.gt-sm
     gdGap="16px">
  <shared-persona-info [persona]="persona"></shared-persona-info>
  <div>
    <mat-card class="mat-elevation-z2">
      <ng-container [ngSwitch]="status()">
        <ng-container *ngSwitchCase="'blocked'">
          <h2 class="mat-h2">Not allowed</h2>
          <p class="mat-body-1">
            This fusion is blocked. Please check your settings.
          </p>
          <a routerLink="../../settings" mat-button color="accent">GO TO SETTINGS</a>
          <a routerLink="../.." mat-button color="accent">GO TO LIST</a>
        </ng-container>
        <ng-container *ngSwitchCase="'gem'">
          <h2 class="mat-h2">Gem persona</h2>
          <p class="mat-body-1">
            There are no fusion combinations for this type of Persona.
          </p>
          <a routerLink="../.." mat-button color="accent">GO TO LIST</a>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <mat-tab-group>
            <mat-tab label="SPECIAL FUSION" *ngIf="specialFusion.length">
              <ng-template matTabContent>
                <personae-special-fusion [specialFusion]="specialFusion"></personae-special-fusion>
              </ng-template>
            </mat-tab>
            <mat-tab *ngIf="!persona.special" label="NORMAL">
              <ng-template matTabContent>
                <personae-normal-fusions [persona]="persona"></personae-normal-fusions>
              </ng-template>
            </mat-tab>
            <mat-tab *ngIf="showTriangleFusions()" label="TRIANGLE">
              <ng-template matTabContent>
                <personae-triangle-fusions [persona]="persona"></personae-triangle-fusions>
              </ng-template>
            </mat-tab>
            <mat-tab *ngIf="showGemFusions()" label="GEM">
              <ng-template matTabContent>
                <personae-gem-fusions [persona]="persona"></personae-gem-fusions>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </ng-container>
      </ng-container>
    </mat-card>
  </div>
</div>

<ng-template #noPersona>
  <h2 class="mat-h2">Persona not found</h2>
  <p class="mat-body-1">
    Go back to the list.
  </p>
  <a routerLink="../.." mat-button color="accent">GO BACK</a>
</ng-template>
