<h1 mat-dialog-title>
  <ng-container>{{data.fusionItem.persona.name}}</ng-container>
</h1>
<mat-dialog-content>
  <mat-tab-group>
    <mat-tab>
      <ng-template matTabLabel>
        <span [matBadge]="data.fusionItem.skills.length" matBadgeOverlap="false">LEARNED</span>
      </ng-template>
      <ng-template matTabContent>
        <simulator-dialog-learned-skills-list
          [skills]="data.fusionItem.skills">
        </simulator-dialog-learned-skills-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="ALL">
      <ng-template matTabContent>
        <simulator-dialog-all-skills-list
          [skillService]="data.skillService"
          [learnedSkills]="data.fusionItem.skills">
        </simulator-dialog-all-skills-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end;">
  <button mat-button color="primary" (click)="onCancel()">CLOSE</button>
</mat-dialog-actions>