<div *ngIf="fusionNode?.persona; else noData"
     gdAreas="main | personaInfo"
     gdAreas.gt-sm="personaInfo main"
     gdColumns.gt-sm="320px auto"
     gdRows="max-content auto"
     gdRows.gt-sm
     gdGap="16px">
  <shared-persona-info [persona]="fusionNode.persona" gdArea="personaInfo"></shared-persona-info>
  <div gdArea="main">
    <mat-card class="mat-elevation-z2">
      <mat-card-header>
        <mat-card-title>{{fusionNode.saveName}}</mat-card-title>
        <mat-card-subtitle>
          {{fusionNode.persona.name}} / {{fusionNode.persona.arcanaName}} / Lv. {{fusionNode.currentLevel}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <shared-fusion-item [fusionItem]="fusionNode"></shared-fusion-item>
      </mat-card-content>
      <mat-card-actions fxLayout fxLayoutAlign="space-between" style="padding: 8px">
        <button mat-button color="accent" (click)="confirmDelete()">DELETE</button>
        <div fxLayout fxLayoutGap="4px">
          <a mat-button color="accent" routerLink="../../my-list">BACK</a>
          <button mat-flat-button color="accent" (click)="onUpdate()">SAVE</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<ng-template #noData>
  <p class="mat-body-1">
    No data found.
  </p>
  <a routerLink="../../my-list" mat-button color="accent">GO BACK</a>
</ng-template>
