<div *ngIf="persona; else noPersona">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ persona.name }}</mat-card-title>
      <mat-card-subtitle
        >{{ arcanaName(persona.arcana) }} / Level
        {{ persona.level }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-chip-list>
      <mat-chip *ngIf="persona.special" color="warn" selected
        >Special fusion</mat-chip
      >
      <mat-chip *ngIf="persona.specialCondition" color="accent" selected>{{
        persona.specialCondition
      }}</mat-chip>
      <mat-chip *ngIf="persona.ultimate" color="accent" selected
        >Ultimate Persona</mat-chip
      >
      <mat-chip *ngIf="persona.keyItem">Key item</mat-chip>
    </mat-chip-list>
    <mat-card-content></mat-card-content>
  </mat-card>

  <div *ngIf="persona.special; else nonSpecial">
    <mat-card class="mat-elevation-z2" style="margin: 8px 0;">
      <h2 class="mat-h3">Special Fusion</h2>
      <a
        mat-button
        *ngFor="let persona of specialFusions"
        routerLink="..//{{ persona.name | lowercase }}"
        style="padding: 8px; margin-bottom: 0px;"
      >
        <h3
          class="mat-h3"
          style="
            white-space: nowrap;
            margin: 0;
            padding: 0;
            line-height: 1rem;
            font-size: 16px;
          "
        >
          {{ persona.name }}
        </h3>
        <p
          class="mat-caption"
          style="
            white-space: nowrap;
            margin: 0;
            line-height: 1rem;
            font-size: 12px;
          "
        >
          {{ arcanaName(persona.arcana) }} / {{ persona.level }}
        </p>
      </a>
    </mat-card>
  </div>
</div>

<ng-template #noPersona>
  <p class="mat-body-1">
    Persona not found.
  </p>
  <a routerLink="../.." mat-button color="accent">GO BACK</a>
</ng-template>

<ng-template #nonSpecial>
  <mat-card class="mat-elevation-z2" style="margin: 8px 0;">
    <mat-tab-group>
      <mat-tab label="NORMAL">
        <ng-template matTabContent>
          <game-normal-fusions [persona]="persona"></game-normal-fusions>
        </ng-template>
      </mat-tab>
      <mat-tab label="TRIANGLE">
        <ng-template matTabContent>
          Content 2 - Loaded: {{ getTimeLoaded(2) | date: 'medium' }}
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</ng-template>
