<div *ngIf="persona; else noPersona"
     gdColumns.gt-sm="320px auto"
     gdRows="max-content auto"
     gdRows.gt-sm
     gdGap="16px">
  <shared-persona-info [persona]="persona"></shared-persona-info>
  <mat-card class="mat-elevation-z2"
            *ngIf="persona.special; else nonSpecial"
            id="special-fusions-container">
    <mat-tab-group>
      <mat-tab label="SPECIAL FUSION">
        <mat-nav-list>
          <a mat-line mat-list-item *ngFor="let p of specialFusions"
             routerLink="..//{{ p.name | lowercase }}">
             <span mat-line>{{p.name}}</span>
             <span mat-line>{{ p.arcanaName }} / Level {{ p.level }}</span>
          </a>          
        </mat-nav-list>
        <a mat-flat-button color="primary" routerLink="../../simulator" [queryParams]="queryParams()"
           style="width: 100%; margin-top: 16px">SIMULATE</a>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

</div>

<ng-template #noPersona>
  <p class="mat-body-1">
    Persona not found.
  </p>
  <a routerLink="../.." mat-button color="accent">GO BACK</a>
</ng-template>

<ng-template #nonSpecial>
  <mat-card class="mat-elevation-z2">
    <mat-tab-group>
      <mat-tab label="NORMAL">
        <game-normal-fusions [persona]="persona"></game-normal-fusions>
      </mat-tab>
      <mat-tab label="TRIANGLE">
        <game-triangle-fusions [persona]="persona"></game-triangle-fusions>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</ng-template>
