<div class="fusion-persona-preview-container">
  <div *ngFor="let item of fusion" class="fusion-persona-preview">
    <h3 class="fusion-persona-heading mat-h3">
      <a routerLink="/{{game}}/personae/{{item.persona.name | lowercase}}"
         (click)="openLink($event)"
         class="fusion-persona-link">{{item.persona.name}}</a>
    </h3>
    <small class="mat-caption"
      >{{ item.persona.arcanaName }} / Lv. {{ item.level || item.persona.level }}</small
    >
    <ul>
      <li *ngFor="let skill of item.persona.skills" class="mat-body-1">
        <span
          >{{ skill.name
          }}<span *ngIf="skill.level > 0"> ({{ skill.level }})</span></span
        >
      </li>
    </ul>
  </div>
</div>

<a mat-flat-button
   routerLink="/{{game}}/simulator"
   [queryParams]="queryParams()"
   (click)="openLink($event)" 
   color="primary"
   style="width: 100%">
 FUSE
</a>